.print {display:none;}
.no-print { display:block; }

.secoes{width:100%;border-bottom:4px solid #333}

#divHabilidade{}
#divHabilidade ul {margin-left:0px;padding-left:0px;float:left;width:100%}
#divHabilidade ul li {list-style:none;}
#divHabilidade ul li label i.cbp-ig-icon {font-size:130%;margin-top:0px}
/*
#divHabilidade ul li label span{ float:left;margin-left:5px}
#divHabilidade ul li label span.percencutal{ float:left;margin-left:5px}
*/

.progress.active{border: 1px solid gray}


#tabelaGraduacao {border-collapse: collapse;}
#tabelaGraduacao > thead > tr > th{text-align: center}
#tabelaGraduacao > tbody > tr td{border-bottom:1px solid #eee;padding:1px 5px;}
#tabelaGraduacao > tbody > tr td:nth-child(1) {text-align: center;}
#tabelaGraduacao > tbody > tr td:nth-child(2) {text-align: center;}
#tabelaGraduacao > tbody > tr td:nth-child(3) {text-align: right;padding:2px 5px;}
#tabelaGraduacao > tbody > tr td:nth-child(4) {text-align: left;padding:2px 5px;}

#tabelaExperiencia {border-collapse: collapse;}
#tabelaExperiencia > tbody > tr td{border-bottom:1px solid #eee;}
#tabelaExperiencia > tbody > tr td:nth-child(1) {
	text-align: center;
	vertical-align: top !important;
}
#tabelaExperiencia > tbody > tr td:nth-child(2) {
	vertical-align: top !important;
	text-align: center;
	padding:2px 5px;
	font-family: 'Lucida Sans',sans-serif;
	font-weight: bold;
}
#tabelaExperiencia > tbody > tr td:nth-child(3) {
	vertical-align: top !important;
	text-align: center;
	padding:2px 5px;
	font-family: 'Lucida Sans',sans-serif;
	font-style: italic;
}

#tabelaContato {float:left;margin-right: 15px}
#tabelaContato tbody tr td {padding:5px 2px;}


@media print{
	#foto{display:none;}

	.progress-bar{display:none;}
	#divHabilidade{}
	#divHabilidade ul {margin-left:0px;padding-left:0px;float:left;width:100%}
	#divHabilidade ul li {list-style:none;width:25%;}
	#divHabilidade ul li label i.cbp-ig-icon {font-size:130%;margin-top:0px}

	.print {display:block;}
	.no-print { display:none; }
	h1{font-size:26pt !important; font-weight:bold;}
	#foto { float:left }
	#foto img { max-height:100%; }

	.secoes{width:100%;}
	.tabelaHabilidade{float:left;margin:15px !important; border:2px solid black;}
	.tabelaHabilidade > tbody > tr td{border-bottom: 1px solid gray;}
	.tabelaHabilidade > tbody > tr td:nth-child(1) { font-size:150%;font-weight: bold;padding:0 5px; }
	.tabelaHabilidade > tbody > tr td:nth-child(2) { text-align: center;font-style: italic; }
	.tabelaHabilidade > tbody > tr td:nth-child(3) {font-size: 130%;padding:2px 3px;}			

	#tabelaGraduacao {border-collapse: collapse;}
	#tabelaGraduacao > thead > tr > th{text-align: center;}
	#tabelaGraduacao > tbody > tr td{border-bottom:1px solid #eee;}
	#tabelaGraduacao > tbody > tr td:nth-child(1) {width:15%;text-align: center;}
	#tabelaGraduacao > tbody > tr td:nth-child(2) {width:15%;text-align: right;padding:2px 5px;}
	#tabelaGraduacao > tbody > tr td:nth-child(3) {width:30%;text-align: right !important;padding:2px 5px;}

	#tabelaExperiencia {border-collapse: collapse;}
	#tabelaExperiencia > tbody > tr td{border-bottom:1px solid #eee;}
	#tabelaExperiencia > tbody > tr td:nth-child(1) {
		text-align: center;
		vertical-align: top !important;
	}
	#tabelaExperiencia > tbody > tr td:nth-child(2) {
		vertical-align: top !important;
		text-align: center;
		padding:2px 5px;
		font-family: 'Lucida Sans',sans-serif;
		font-weight: bold;
	}

	#tabelaContato {float:left;margin-right: 15px}
	.progress.active{border: 1px solid gray}
}